body {
    padding: 0;
    margin: 0;
    width: 85%;
    height: 80%;
}

.game-area {
    text-align: center;
    height: 16px;
    margin: auto 0;
    padding-left: 20%;
    padding-top: 10%;

}

.game-container {
    border: 3px double black;

}

#results-display {
    justify-content: space-between;
    width: 95%;
    margin: 1%;
    padding: 5px;
    border: 3px double black;

}

#display {
    text-align: center;
    font-size: 75px;
    margin: auto
}

#score {
    text-align: center;
    font-size: 32px;
    height: 50%;
    padding: 1px;
}


.choices-area {
    display: flex;
    justify-content: space-around;
    margin: 1%;
    padding: 5px;
    width: 95%;
    height: 20vh;
    background-color: #9eb1b3;
    border: 3px double black;

}

.options {
    width: 15vw;
    font-size: larger;
    background-color: lightskyblue;
    border-radius: 25%;
    border: 3px double black;
    text-align: center;

}

.options:hover {
    background-color: rgb(133, 133, 37);
}

.reset {
    width: 15vw;
    height: 10vh;
    font-size: larger;
    border-radius: 25%;
    border: 3px double black;
    text-align: center;

}

.reset:hover {
    background-color: blue;
}

.skip {
    width: 15vw;
    height: 10vh;
    font-size: larger;
    border-radius: 25%;
    border: 3px double black;
    text-align: center;

}

.skip:hover {
    background-color: red;
}

.reset-skip-area {
    width: 95%;
    height: 10vh;
    margin: 1%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color: #c7dddf;
    border: 3px double black;
}



.Right {
    background-color: green;
}

.Wrong {
    background-color: red;
}

@media screen 768px {}