body {
    padding: 0;
    margin-top: -31px;
    width: 85%;
    height: 80%;
}

.game-area {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding-left: 11%;
    padding-top: 5%;
}

.game-container {
    border: 3px double black;
    width: 75%;
    margin: 0 auto;
}

#results-display {
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    border: 3px double black;

}

footer {
    text-align: center;
    padding-left: 15%;
}

#display {
    text-align: center;
    font-size: 30px;
    margin: auto
}

.score {
    text-align: center;
    font-size: 15px;

}

.player-name {
    text-align: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
}

.choices-area {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 5px;
    width: 95%;
    height: 20vh;
    background-color: #9eb1b3;
    border: 3px double black;

}

.options {
    width: 24%;
    font-size: large;
    background-color: rgb(74, 166, 224);
    border-radius: 25%;
    border: 3px double black;
    text-align: center;
}


.reset,
a {
    width: 46%;
    font-size: 40px;
    border-radius: 25%;
    border: 3px double black;
    color: rgb(79, 15, 15);
margin: 0 auto;
    background-color: rgb(74, 166, 224);

}

/* .options:hover */

.reset:hover {
    background-color: blue;
}

a {
    text-decoration: none;
    padding-top: 2%;
}

.skip {
    width: 15vw;
    height: 10vh;
    font-size: larger;
    border-radius: 25%;
    border: 3px double black;
    text-align: center;

}

.skip:hover {
    background-color: red;
}

.reset-skip-area {
    width: 95%;
    height: 10vh;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color: #c7dddf;
    border: 3px double black;
    color: aqua;
}


/* For js to color right and wrong answers */
.Right {
    background-color: green;
}

.Wrong {
    background-color: red;
}


/* Screen Sizees */
@media screen and (max-width: 1006px) {

    .game-area {
        width: 95%;
        margin: 0 auto;
        padding-left: 11%;
        padding-top: 7%;
    }

    .choices-area {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        padding: 5px;
        width: 95%;
        height: 90px;
        background-color: #9eb1b3;
        border: 3px double black;
    }

    #results-display {
        width: 95%;
        padding: 5px;
        border: 3px double black;
    }

    footer {
        text-align: center;
        padding-left: 16%;
    }

}

@media screen and (max-width: 806px) {
    .choices-area>button {
        padding-top: 5%;
        width: 50%;
        text-align: center;
        /* margin: 0 auto; */
        position: static;
        margin-top: 10px;

    }

    .choices-area {
        display: block;
        height: 42%;

    }


    .game-container {
        height: 594px;
    }

footer {
    padding-top: 5%;
}
}